/*esto es un comentario de css */

/*
selector {
    propiedad: valor;
    propiedad: valor;
}
*/
body{

    background-color: rgb(167, 172, 212);
}
h1 {
    color: rgb(213, 216, 31);
}
h3 {

    color:mediumorchid
}
h4 {

    color:mediumorchid
}
h5{

    color:mediumorchid
}
h6{

    color:mediumorchid
}
tr{

    background-color: blueviolet;
}